.container{
    display: grid;
    grid-template-rows: 0.1fr 3fr;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: gray;
    color: white;
    height: 200px;
    grid-row: 1 / 2;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    
}

.library{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 800px;
    grid-row: 2 / 3;
    background-color: rgb(105, 28, 28);

}

.book{
    display: flex;
    height: 200px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    justify-content: center;
}

div{
    border: solid 0px red;
}